<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ "Grade Predictor" }}</title>

<!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='smclogo.png') }}"  sizes="192x192" type="image/png" >
     

  
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!-- Dark Mode Toggle -->
<button id="theme-toggle" class="btn">🌙 Dark Mode</button>



<!------NAV BAR------> 
     
  <nav class="navbar tool-nav">

    <!-- Logo -->
  <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='smclogo.png') }}" alt="SMC Logo" class="nav-logo">
  </a>

    <ul>
      <li><a href="{{ url_for('prediction') }}" class="{% if request.path=='/prediction' %}active{% endif %}">SMC Prediction</a></li>
      <li><a href="{{ url_for('analyzer') }}" class="{% if request.path=='/analyzer' %}active{% endif %}">SMC Grade Analyzer</a></li>
      <li><a href="{{ url_for('fall_classes') }}" class="{% if request.path=='/fall_classes' %}active{% endif %}">2025 FALL CLASSES</a></li>
    </ul>
  </nav>

  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>



<footer class="site-footer">
  <div class="container">
    <p>&copy; {{2025}} Grade Predictor. All rights reserved.</p>
    <p>
      <a href="#">Privacy Policy</a> |
      <a href="#">Contact</a>
    </p>
  </div>
</footer>

  </html>









